
# Venv
.venv-atmt2025/
# Python
__pycache__/

# not relevant
old_files_and_debugging/
changes.md
repo_outline.md
trim.py

# toy example outputs
toy_example_gpu/data/prepared/*
toy_example_gpu/tokenizers
toy_example_gpu/logs
toy_example_gpu/checkpoints
toy_example_gpu/toy_example_output.en

toy_example/data/prepared/*
toy_example/tokenizers
toy_example/logs
toy_example/checkpoints
toy_example/toy_example_output.en
# other outputs
/example
#/cz-en
cz-en/data
cz-en/tokenizers
cz-en/checkpoints
ep-sk-en-test/

# unused
seq2seq/embedding_saver.py
